<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>All Staffs</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    </head>
    <!-- this.codigoDeBarras = codigoDeBarras;   sI
        this.estado = estado;
        this.ruta = ruta;    HAY QUE GENERAR 
        this.entregado = entregado;
        this.calleAvenidaRuta = callear;
        this.tipoEntrega = tipoEntrega;
        this.ciudad = ciudad;
        this.esFavorito = esFavorito;
        this.barrio = barrio;
        this.fechaPedido = fechaPedido; 
    
    VER PEDIDOS, REALIZAR PEDIDOS
    -->
    

    <body>
        <div class="container my-2">
            <div class="card">
                <div class="card-body">
                    <div th:switch="${staffs}" class="container my-5">
                        
                            <h2 th:case="null">No record found !!</h2>
                            <div th:case="*">
                                <table class="table table-striped table-responsive-md">
                                    <thead>
                                        <tr>
                                            <th>Codigo de Barras</th>
                                            <th>Estado del Pedido</th>
                                            <th>Fué entregado</th>
                                            <th>Dirección</th>
                                            <th>Ciudad</th>
                                            <th>Barrio</th>
                                            <th>FechaPedido</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="staff : ${pedidos}">
                                            <td th:text="${staff.codigoDeBarras}"></td>
                                            <td th:text="${staff.estado}"></td>
                                            <td th:text="${staff.calleAvenidaRuta}"></td>
                                            <td th:text="${staff.ciudad}"></td>
                                            <td th:text="${staff.barrio}"></td>
                                            <td th:text="${staff.fechaPedido}"></td>
                                            <td th:text="${staff.entregado}"></td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
